html  { 
box-sizing: border-box; 
}  
*, *:before, *:after  
{  
box-sizing: inherit;  
}  


/*BODY OPTIONS*/

body {
	font-size: 1em;
	background-color: #cc9933;
	font-family: copperplate Gothic Bold, Georgia, Times, "Times New Roman";  
}



/*HEADER*/

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #999933;
	border-radius: 5px;
	margin: 2%;
	padding: 5%;
	flex-basis: auto;

}



.logo {
	max-width: 40%;
}

.address span {
	text-decoration: underline;
}


/*NAVIGATION*/


nav 
{ 
    margin: 50px auto; 
    max-width: 100%; 
    width: 100%;
    background-color: #CC9933; 
    color: white;
    font-size: 1.25em;
}

ul { 
  padding: 0; 
  margin: 0; 
  max-width: 100%; 
  height: 15%; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
  align-items: center; 
  list-style-type: none; 
} 
  
ul li a { 
  text-decoration: none; 
  align-self: center; 
  padding: 8px 10px;
} 
  
a:link { 
    color: white; 
} 
  
a:visited { 
    color: white; 
} 




/*IMAGE*/

.image {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	border-radius: 5px;
}




/*MAIN BODY*/


h3, h1 {
	text-shadow: 1px 1px 1px #000;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
}



.arrow {
	max-width: 40%;
	padding: 10px;
}

.icon {
	max-width: 40%;
	align-self: center;
}









/* FOOTER */

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #999933;
	border-radius: 5px;
	padding: 5%;
	margin: 2%;
	flex-basis: auto;
}

.footer span {
	text-decoration: underline;
}


.addressFooter {
	max-width: auto;
}

.email {
	text-decoration: underline;
	max-width: auto;
}










/*PAGE ONE SPECIFICS*/



.para1, .para2, .para3, .para4 {
	text-align: center;
	color: white;
}

.para1 {
	grid-area: para1;
	background-color: #006666;
	border-radius: 5px;
	padding: 10%;
}

.para2 {
	grid-area: para2;
	background-color: #006666;
	border-radius: 5px;
	padding: 10%;
}

.para3 {
	grid-area: para3;
	background-color: #006666;
	border-radius: 5px;
	padding: 10%;
}

.para4 {
	grid-area: para4;
	background-color: #006666;
	border-radius: 5px;
	padding: 10%;
}





/*PAGE ONE GRID DETAILS*/

#wrapper1 {
	display: grid;
	grid-gap: 5%;
	grid-template-rows: auto auto auto auto auto;
	grid-template-columns: 0.10fr auto auto 0.10fr;
	grid-template-areas: 
	"... para1 para1 ..."
	"... para2 para2 ..."
	"... para3 para3 ..."
	"... para4 para4 ..."
	"... para5 para5 ....";
}






/*PAGE TWO SPECIFICS*/



.image2, .image3 {
	display: block;
	margin-left: auto;
    margin-right: auto;
	max-width: 80%;
	padding-right: 5%;
	padding-bottom: 3%;
	padding-left: 5%;
	padding-top: 3%;
}


.signature {
	display: flex;
	max-width: 40%;
}

.aboutOne, .aboutTwo {
	text-align: center;
/*	padding-top: 3%;*/
	line-height: 1.25em;
	padding-left: 3%;
	padding-right: 3%;
}


.iconBox, .iconBill, .iconPhone, .iconHome {
	text-align: center;
	color: white;
}




/*MAIN BODY*/



.main {
	grid-area: about;
	background-color: #006666;
	border-radius: 5px;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	color: white;
	font-kerning: none;
}



/*ICON OPTIONS*/

.iconHome {
	grid-area: iconHome;
	background-color: #006666;
	border-radius: 5px;
	padding: 10%;
}

.iconBox {
	grid-area: iconBox;
	background-color: #006666;
	border-radius: 5px;
	padding: 10%;
}

.iconBill {
	grid-area: iconBill;
	background-color: #006666;
	border-radius: 5px;
	padding: 10%;
}

.iconPhone {
	grid-area: iconPhone;
	background-color: #006666;
	border-radius: 5px;
	padding: 10%;
}





/*PAGE TWO GRID DETAILS*/

#wrapper2 {
	display: grid;
	grid-gap: 2%;
	grid-template-rows: auto 0.5fr 0.5fr 0.5fr 0.5fr;
	grid-template-columns: 0.10fr 1fr 1fr 1fr 0.10fr;
	grid-template-areas: 
	" ... about about about ..."
	"... ... ... ... ..."
	"... iconBox iconBox iconBox ..."
	"... iconBill iconBill iconBill ..."
	"... iconPhone iconPhone iconPhone ...";
	padding-bottom: 10%;
}







/*FOR TABLET AND DESKTOP*/


/*GRID DETAILS*/

/*#wrapper {
	display: grid;
	grid-gap: 5%;
	grid-template-rows: auto 0.50fr;
	grid-template-columns: auto auto auto auto auto;
	grid-template-areas: 
	" ... about about about ..."
	"... iconBox iconHome iconPhone ...";
}
*/





/*PAGE THREE SPECIFICS*/



/*MAIN BODY*/


.delivery, .tracking, .reschedule, .iconHome, .iconBill, .iconPhone {
	text-align: center;
	color: white;
}

.delivery {
	grid-area: delivery;
	background-color: #006666;
	border-radius: 5px;
	padding: 10%;
}

.tracking {
	grid-area: tracking;
	background-color: #006666;
	border-radius: 5px;
	padding: 10%;
}

.reschedule {
	grid-area: reschedule;
	background-color: #006666;
	border-radius: 5px;
	padding: 10%;
}



/*PAGE THREE GRID DETAILS*/

#wrapper3 {
	display: grid;
	grid-gap: 2%;
	grid-template-rows: auto auto auto 0.5fr 0.5fr 0.5fr 0.5fr;
	grid-template-columns: 0.10fr 1fr 1fr 1fr 0.10fr;
	grid-template-areas: 
	"... delivery delivery delivery ..."
	"... tracking tracking tracking ..."
	"... reschedule reschedule reschedule ..."
	"... ... ... ... ..."
	"... iconHome iconHome iconHome ..."
	"... iconBill iconBill iconBill ..."
	"... iconPhone iconPhone iconPhone ...";
	padding-bottom: 10%;
}








/*FOR TABLET AND DESKTOP*/


/*GRID DETAILS*/

/*#wrapper {
	display: grid;
	grid-gap: 5%;
	grid-template-rows: auto auto auto auto 0.50fr;
	grid-template-columns: auto auto auto auto auto;
	grid-template-areas: 
	"... delivery delivery delivery ..."
	"... tracking tracking tracking ..."
	"... reschedule reschedule reschedule ..."
	"... ... ... ... ..."
	"... iconHome iconBill iconPhone ...";
}
*/



/*PAGE FOUR SPECIFICS*/



/*TABLE DETAILS*/




.main4 {
	grid-area: main4;
	background-color: #006666;
	border-radius: 5px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 4%;
	color: white;
	font-kerning: none;
}

table {
    border-collapse: collapse;
    font-size: .75em;
    border-spacing: 0;
    max-width: 100%;
    border: 2px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
    border-right: 2px solid #ddd;
}

tr:nth-child(even){background-color: #9a3334;}



.green {
	color: lightgreen;
}

.red {
	color: red;
}



/*GRID DETAILS*/

#wrapper4 {
	display: grid;
	grid-gap: 2%;
	grid-template-rows: auto 0.5fr 0.5fr 0.5fr 0.5fr;
	grid-template-columns: 0.10fr 1fr 1fr 1fr 0.10fr;
	grid-template-areas: 
	" ... main4 main4 main4 ..."
	"... ... ... ... ..."
	"... iconBox iconBox iconBox ..."
	"... iconHome iconHome iconHome ..."
	"... iconPhone iconPhone iconPhone ...";
	padding-bottom: 10%;
}





/*FOR TABLET AND DESKTOP*/


/*GRID DETAILS*/

/*#wrapper {
	display: grid;
	grid-gap: 5%;
	grid-template-rows: auto 0.50fr;
	grid-template-columns: auto auto auto auto auto;
	grid-template-areas: 
	" ... about about about ..."
	"... iconBox iconHome iconPhone ...";
}
*/